*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #0000ff;
    --body-fonts: "Helvetia", "Arial", sans-serif;
    --line-height: 1.5;
    --color-footer: red;   
}
